<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Berlin Immigration Office Appointment">
    <test name="AppointmentBookingTest">
        <classes>
            <class name="com.appointment.search.tests.RunTest"/>
        </classes>
    </test>
</suite>
